body {
    background-color: lightsalmon;
}

#chirpBox {
    border-color: blue;
}

.retrievedChirp {
    color: firebrick;
    background-color: greenyellow;
}

#chirpButton {
    border-color: forestgreen;
    color: purple;
}